{% extends "sample.html" %} {% block title %}联系我们-九越互动{% endblock%} {% block head %}
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<style type="text/css">
body,
html,
#map_canvas {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: "微软雅黑";
}

#map_canvas img {
    max-width: none;
}
</style>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=M30FuGQbGLOwDOIlDU0aOXbV"></script>
{% endblock%} {% load staticfiles %} {% block content %}
<div class="row">
    <div class="container">
        <img width="100%" src="{% static "img/partner.jpg" %}" />
    </div>
</div>
<div class="row">
    <div class="container">
        <div class="row" style="margin-top:20px">
            <div class="col-md-3">
            </div>
            <div class="col-md-6">
                <div class="row" style="
  font-family: " Microsoft YaHei ";
 
  line-height: 0.75;
">
                    <div class="col-md-6 text-center">商务合作</div>
                    <div class="col-md-6 text-center">战略合作</div>
                    <hr/>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-3 text-left">
                <p>商务联系人
                    <br/> 杨蕾 渠道部总监
                    <br/> QQ/微信：809017782
                    <br/> E-mail：yanglei@9key.net
                </p>
            </div>
            <div class="col-md-6 text-left">
                <p>九越游戏风向标 <br/>产品：发行命脉，收有趣的“好“游戏
                    <br/> IP：收现象级IP,开拓纵向深入的合作模式
                    <br/> 泛娱乐：游戏横向相关产业拓展，寻求行业多元化出路
                </p>
            </div>
        </div>
    
    <hr />
    <div class="row">
        <div class="col-md-6">
            <div id="map_canvas" style="height:300px;">
                <!--<img style="width:200px;height:200px" src="{% static "img/allmap.png" %}">-->
            </div>
        </div>
        <div class="col-md-3">
            <p>地址：成都市高新区天府软件园E6区1118室</p>
            <p>邮编：610041</p>
            <p>客服电话：028-65783167</p>
            <p>客服qq：2657073702</p>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
</div>
<div class="clearfix"></div>
<script type="text/javascript">
// 百度地图API功能--等上线才能实施部署百度地图api
var map = new BMap.Map("map_canvas"); // 创建Map实例
map.centerAndZoom(new BMap.Point(104.074944, 30.543463), 20); // 
map.addControl(new BMap.MapTypeControl()); //添加地图类型控件
map.setCurrentCity("成都"); // 设置地图显示的城市 
map.enableScrollWheelZoom(true); //开启鼠标滚轮缩放
</script>
{% endblock %}
