{% extends 'sample.html' %}
{% block title %}
业务咨询-游戏中心
{% endblock %}
{% load staticfiles %}
{% load poll_extra %}
{% block head %}
<style type="text/css">
   body a
  {
    outline:none;blr:expression(this.onFocus=this.blur());
  } 
	 .TriOrigin{
        display: none;
    }
    .TriClick{
        display:block;
    }
    .textOrigin{
        display:none;
    }
    .textClick{
        display:block;
    }
    a:link {
        color:#31B746;
        text-decoration: none;
    }
    a:visited{
        color:#31B746;
        text-decoration: none;
    }
    a:hover{
        color:#31B746;
    }
    .Astyle{
        color:#31B746;
        text-decoration: none;
    }
    .AOrigin{
        color:#fff;
        text-decoration: none;
    }
</style>
{% endblock %}
{% block content %}
<div class="container">
	<script type="text/javascript">
		$(function(){
      (function ($) {
            $.getUrlParam = function (name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
            var r = window.location.search.substr(1).match(reg);
            if (r != null) return unescape(r[2]); return null;
             }
        })(jQuery);
			$("#AOperation").click(function() {
				$("#imgOperation").removeClass('TriOrigin').addClass('TriClick');
            	$("#imgDevelop").removeClass('TriClick').addClass('TriOrigin');
            	$("#textOperation").removeClass('textOrigin').addClass('textClick');
            	$("#textDevelop").removeClass('textClick').addClass('textOrigin');
			});
			$("#ADevelop").click(function() {
				$("#imgDevelop").removeClass('TriOrigin').addClass('TriClick');
            	$("#imgOperation").removeClass('TriClick').addClass('TriOrigin');
            	$("#textDevelop").removeClass('textOrigin').addClass('textClick');
            	$("#textOperation").removeClass('textClick').addClass('textOrigin');
			});
      $('.btn-outline-inverse').hover(function() {
          $(this).css({
            "border-color": "#d9534f",
            "color": "#d9534f"
          });
        }, function() {
            $(this).css({
              "border-color":"#cdbfe3",
              "color": "#fff"
        });/* Stuff to do when the mouse leaves the element */
      });
       switch($.getUrlParam('action')){
          case 'operation':
            $("#AOperation").trigger("click");
            break;
          case 'develop':
            $("#ADevelop").trigger("click");
            break;
        }
		});
	</script>
	<div class="col-lg-12" style="margin-top:10px;">
		<blockquote style="border-left:5px solid #3171B8">
            <p style="font-size:20px;color:#484D51" ><b>游戏中心</b></p>
        </blockquote>
	</div>
	<div class="col-lg-12">
		<div class="col-lg-5" style="text-align:right">
			<a href="javascript:void(0)" id ="AOperation" style="text-decoration:none;">手游运营</a>
       	</div>
        <div class="col-lg-2"></div>
        <div class="col-lg-5">
       		<a href="javascript:void(0)" id="ADevelop" style="text-decoration:none;">手游开发</a>
        </div>
       	<div class="col-lg-12">
       		<hr style="border:1px solid #31B746;margin-top:0px;"/>
       	</div>
       	<div class="col-lg-12" style="margin-top:-17px;">
       		<div class="col-lg-5" style="text-align:right;">
			     	<img src="{% static "img/GreenTri.png" %}" id="imgOperation" class="TriClick" style="margin:0 0 0 auto;">&nbsp;
       		</div>
          <div class="col-lg-2"></div>
       		<div class="col-lg-5">
       			<img src="{% static "img/GreenTri.png" %}" id="imgDevelop" class="TriOrigin">&nbsp;
       		</div>
       	</div>
       	<div class="col-lg-12 textClick" id="textOperation">
        <div class="col-lg-12">
				{% for biggame in gamelist%}

					<div class="col-lg-4">
						<div class="thumbnail" style="background:#fff;border:1px solid #DDE3E9;">
                <div class="view view-first">
                    <a href="/game/{{ biggame.id }}/"><img style="width:100%;height:120px;" src="{% static biggame.imgShow %}" alt="game"></a>
                    <div class="mask">
                        <a href="/game/{{ biggame.id }}" class="info" style="letter-spacing:2px"><b>下载游戏</b></a>
                    </div>
                </div>
                <div class="caption" style="position:relative;top:0;height:70px;">
                    <img class="pull-left" src="{% static biggame.imgUrl %}" style="width:50px;height:50px;">
                    {% autoescape off %}
                    <span style="color:#A2A2A4;min-height:150px;" class="text-right"><small>{{ biggame.summary |shorterArt:25 }}</small></span>
                    {% endautoescape %}
                </div>
            </div>
					</div>

				{% endfor %}
        </div>
        <div class="text-center">
        <nav>
              <ul class="pagination pagination-sm">
              {% ifnotequal curpage 1 %}
              <li>
                <a href="?curpage={{curpage}}&&allpage={{allpage}}&&pagetype=pageup" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span></a>
              </li>
              {% endifnotequal %}
        {% if curpage > 5 %}
                <li ><a href="?curpage=1&&allpage={{allpage}}&&pagetype=pageto" >...</a></li>

              {% endif %}
              {% for page in pagelist%}
                {% if page == curpage%}
                  <li class="active"><a href="?curpage={{page}}&&allpage={{allpage}}&&pagetype=pageto" >{{ page }}</a></li>
                {%else%}
                <li><a href="?curpage={{page}}&&allpage={{allpage}}&&pagetype=pageto">{{ page }}</a>  </li>
                {% endif %}
              {% endfor %}
              {%if curpage <  borderpage %}
                <li ><a href="?curpage={{allpage}}&&allpage={{allpage}}&&pagetype=pageto" >...</a></li>
              {%endif%}
              {% ifnotequal curpage allpage %}
              <li>
                <a href="?curpage={{curpage}}&&allpage={{allpage}}&&pagetype=pagedown" aria-label="Next">
                <span aria-hidden="true">&raquo;</span></a>
              </li> 
              {% endifnotequal %}
              </ul>
              </nav>
         
        </div>
        </div>
        
       	<div class="col-lg-12 textOrigin" id="textDevelop">
          <ul class="nav nav-tabs" style="margin-bottom:20px" role="tablist">
          {% for c in gc %}
            {% if c.id == 1 %}
            <li role="presentation" class="active"><a href='#{{ c.name }}' aria-controls={{ c.name }} role="tab" data-toggle="tab">{{ c.name }}</a></li>
            {% else %}
                <li role="presentation" class=" "><a href='#{{ c.name }}' aria-controls={{ c.name }} role="tab" data-toggle="tab">{{ c.name }}</a></li>
            {% endif %}
          {% endfor %}
          </ul>
       		<div class="tab-content">
          {% for g in gm %}
            {% if g.gameType.id == 1 %}
            <div role="tabpanel" class="tab-pane active" id="{{ g.gameType.name }}">
            {% else %}
            <div role="tabpanel" class="tab-pane" id="{{ g.gameType.name }}">
            {% endif %}
            <div class="col-xs-2">
                <div class="thumbnail" style="border:none">
                <a href="/game/{{ g.id }}/">
                    <img style="width:100px;height:100px" src="{% static g.imgUrl %}" alt="game"></a>
                    <div class="caption" style="position:relative;top:0 ;text-align:center">
                        <p>{{ g.name }}</p>
                    </div>
                </div>
            </div>
            </div>
            {% endfor %}
            </div>
       	</div>
    </div>
</div>
{% endblock %}