{% extends 'sample.html' %}
{% block title %}
业务咨询-游戏中心
{% endblock %}
{% load staticfiles %}
{% block head %}
<style type="text/css">

</style>
{% endblock %}
{% block content %}
<div class="container">
	<div class="col-lg-12" style="margin-top:10px;">
		<blockquote style="border-left:5px solid #3171B8">
            <p style="font-size:20px;color:#484D51">游戏中心</p>
        </blockquote>
	</div>
	<div class="col-lg-12">
		<div class="col-lg-6" style="text-align:right ">
			<a href="javascript:void(0)">手游运营</a>
       	</div>
       	<div class="col-lg-6">
       		<a href="javascript:void(0)">手游开发</a>
       	</div>
       	<div class="col-lg-12">
       		<hr style="border:1px solid #31B746;margin-top:0px;"/>
       	</div>
    </div>
</div>
{% endblock %}