{% extends "sample.html" %} {% block title %}首页-九越互动{% endblock%}
{% block head %} 
    <style type="text/css">
    .Newscontent{
        padding-top:5px;
        padding-left: 5px;
        padding-right: 10px;
        padding-bottom: 5px;
    }
    span a:link{
        color: #363640;
    }
    span a:hover{
        color: #BD4560;
    }
    .btn-outline-inverse:hover {
    background-color: transparent;
    border-color: #d9534f;
    color: #d9534f;
}
    </style>
{% endblock%} 
{% load staticfiles %} 
{% block content %}
<div class="row" style="margin-left: 0px;
    margin-right: 0px;">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
        {% for c in carousel %}
        {% if c.id == 1 %}
            <li data-target="#carousel-example-generic" data-slide-to="{{ c.id|add:-1 }}" class="active"></li>
            {% else %}
            <li data-target="#carousel-example-generic" data-slide-to="{{ c.id|add:-1 }}"></li>
            {% endif %} 
            {% endfor %}
        </ol>
        
        <!-- Wrapper for slides -->
       
        <div class="carousel-inner" role="listbox">
            {% for c in carousel %} 
            {% if c.id == 1 %}
            <div class="item active">
                <a href="{{ c.Linkto }}"><img style="width:100%;height:500px"  src="{% static c.Image %}" alt="..."></a>
                <div class="carousel-caption">
                    {{ c.Caption}}
                </div>
            </div>
            {% else %}
            <div class="item">
                <a href="{{ c.Linkto }}"><img style="width:100%;height:500px" src="{% static c.Image %}" alt="..."></a>
                <div class="carousel-caption">
                    {{ c.Caption}}
                </div>
            </div>
            {% endif %} {% endfor %}
        </div>
        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
<div class="container" >
        <div class="col-lg-12 col-xs-12 " style="margin-top:-200px">
            
            <div class="col-lg-6 col-xs-6" style="width:410px;height:180px;">
                <div style="background-color:#131824;color:snow;">
                    <span style="margin-left:5px;font-style:bold;"><b>新闻资讯</b></span>
                    <span style="float:right;margin-right:5px">
                        <a href="/News/" style="color:snow;">更多&gt&gt</a>
                    </span>
                </div>
                <div style="background-color:snow;">
                    {% if news %}
                    {% for new in news %}
                    <div class="Newscontent">
                    <span style="text-align:left;color:#BD4662;margin-top:25px;margin-bottom:10px;">
                    <img src="{% static "img/redTriangle.png" %}" >
                        <a href="/news/{{new.id}}" >{{ new.newsTitle }}</a>
                    </span>
                    <span style="float:right;color:#363640;" align="right">
                        {{ new.dimDate|date:"m/d"}}
                    </span>
                    </div>
                    {% endfor %}
                    {% else %}
                        <div style="margin-top:10px;margin-bottom:10px;color:#BD4662">没有相应的新闻资讯！</div>
                    {% endif %}
                </div>
            </div>
            <div class="col-lg-6 col-xs-6">
            </div>
        </div></div>
<div class="row" style="background:#131824;margin-left: 0px;
    margin-right: 0px;">
    <div class="container">
        <div class="row" style="margin-top:5px">
            <blockquote style=" border-left:5px solid #b73053" class="col-md-6 col-xs-6">
                <p style="font-size:20px;color:#ff8700"><b>热门游戏</b></p>
            </blockquote>
            <div class="col-md-6 col-xs-6 " style="margin-top:10px;"><a href="/games/" class="pull-right" style="font-size:16px;color:#ff8700"><strong>更多&gt&gt</strong></a></div>
        </div>
        <div class="row">
            {% for biggame in gamelist%}
            <div class="col-md-4">
                <div class="thumbnail" style="background:#131824;border:1px solid #eee">
                    <a href="/game/{{ biggame.id }}/"><img style="width:300px;height:200px;" src="{% static biggame.imgShow %}" alt="game"></a>
                    <div class="caption" style="position:relative;top:0">
                        <a href="/static/{{ biggame.Url }}" class="btn btn-outline-inverse" style="background-color: transparent;
    border-color: #cdbfe3;width:130px;
    color: #fff;" role="button">下载游戏</a>
    <a href="{{ biggame.forumLink }}" class="btn btn-outline-inverse" style="background-color: transparent;width:130px;
    border-color: #cdbfe3;
    color: #fff;" role="button">游戏官网</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <script type="text/javascript">
$(function  () {
   $('.btn-outline-inverse').hover(function() {
       $(this).css({
       "border-color": "#d9534f",
    "color": "#d9534f"
   });
   }, function() {
       $(this).css({
       "border-color": "#cdbfe3",
    "color": "#fff"
   });/* Stuff to do when the mouse leaves the element */
   });
});

    </script>
</div>
<div class="row" style="margin-left: 0px;
    margin-right: 0px;">
    <div class="container">
        <div class="row" style="margin-top:5px">
            <blockquote style=" border-left:5px solid #b73053" class="col-md-6 col-xs-6">
                <p style="font-size:20px;color:#ff8700"><b>游戏产品</b></p>
            </blockquote>
            <div class="col-md-6 col-xs-6" style="margin-top:10px;"><a class="pull-right" href="/gameclass" style="font-size:16px;color:#ff8700"><strong>更多&gt&gt</strong></a></div>
        </div>
        <div class="row" style="padding-bottom:50px;">
            {% for smallgame in games%}
            <div class="col-md-4" style="margin-top:30px;">
                <div class="col-md-6"><a href="/game/{{ smallgame.id }}/"><img style="width:100px;height:100px;" class="pull-right" src="{% static smallgame.imgUrl %}"></a></div>
                <div class="col-md-6">
                    <h4 style="color:#ff8700">{{ smallgame.name }}</h4>
                    <p>{{ smallgame.content | safe }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
        </div>
    </div>
    

    {% endblock %}
