{% extends "sample.html" %} {% block title %}招聘-九越互动{% endblock%} {% block head %}
 {% endblock%} {% load staticfiles %} {% block content %}
<div class="row" style="margin-bottom:10px;">
    <div class="container">
        <img width="100%" src="{% static "img/bannerJobs.jpg" %}" />
    </div>
</div>
    
<div class="row">
<div class="container" >
<div class="col-md-1"></div>
<div class="col-md-10">

  
  <ul class="nav nav-tabs" style="margin-bottom:20px" role="tablist">
  {% for c in cl%}
  {% if c.id == 1 %}
    <li role="presentation" class="active"><a href='#{{ c.name }}' aria-controls={{ c.name }} role="tab" data-toggle="tab">{{ c.name }}</a></li>
    {% else %}
    <li role="presentation" class=""><a href='#{{ c.name }}' aria-controls={{ c.name }} role="tab" data-toggle="tab">{{ c.name }}</a></li>
    {% endif %}
    {% endfor %}
  </ul>
  

  <!-- Tab panes -->
  <div class="tab-content">
  {% for j in jb %}
  {% if j.classification.id == 1 %}
    <div role="tabpanel" class="tab-pane active" id="{{ j.classification.name }}">
    {% else %}
    <div role="tabpanel" class="tab-pane" id="{{ j.classification.name }}">
    {% endif %}
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#{{ j.id }}" aria-expanded="true" aria-controls="{{ j.id }}">
          {{ j.jobTitle }} <SPAN class="pull-right">{{ j.dimDate }}</SPAN>
        </a>
      </h4>
    </div>
    <div id="{{ j.id }}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        {{ j.jobDetail |safe }}
      </div>
    </div>
  </div>
  
</div>

    </div>
   {% endfor %}
  </div>

</div>
<div class="col-md-1"></div>
</div>
</div>


{% endblock %}

