{% extends "sample.html" %}

{% block title %}
新闻资讯-九越互动
{% endblock %}
{% block head %}
<style type="text/css">
	.Newstitle{
		font-size: x-large;
		color:#B63053;
		text-align: center;
		margin-bottom: 20px;
	}
	.Newscontent{
		margin-top:10px;
		margin-bottom: 10px;
	}
</style>
{% endblock %}
{% block content %}
	<div class="container">
		<div class="col-md-12">
			<div class="col-md-2">&nbsp;</div>
			<div class="col-md-8" style="margin-top:20px;margin-bottom:50px;">
				<div class="Newstitle">
					{{news.newsTitle}}
				</div>
				<div style="text-align:center;color:#4B4C4E">
					{{news.dimDate |date:"Y-m-d H:i"}}
				</div>
				<div>
					<hr style=" margin-top:1px;height:2px;border:none;border-bottom:1px solid #DADADA;" />
				</div>
				<div>
					{{news.newsDetail|safe}}
				</div>

			</div>
			<div class="col-md-2">&nbsp;</div>
		</div>
	</div>	
{% endblock %}

{% block footer %}
{% endblock%}