<!DOCTYPE html>
<html lang="en">
<head>
	{% load staticfiles %}
	<meta charset="UTF-8">
	<title>{% block title %} {% endblock %}</title>
	{% block head %} {% endblock%}
	<link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.css" %}" />
	<link rel="stylesheet" type="text/css" href="{% static "css/site.css" %}" />
	<script type="text/javascript" src="{% static "js/jquery-1.11.1.min.js" %}"></script>
	<script type="text/javascript" src="{% static "js/bootstrap.js" %}"></script>
	<link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script type="text/javascript" src="{% static "js/jquery.mixitup.min.js" %}"></script>
  <style type="text/css">
    #nav .mainlevel ul {
      position:absolute; display:none; *width:2000px;
    }
    #nav .mainlevel li a {padding:0 0px; line-height:20px; height:24px; display:block; _padding-bottom:15px;/*IE6 only*/}
  </style>
	<script type="text/javascript">
      $(function(){
        $('li.mainlevel').mousemove(function(){
           $(this).find('ul').slideDown("1000");//you can give it a speed
        });
        $('li.mainlevel').mouseleave(function(){
           $(this).find('ul').slideUp("fast");
        });
      });
	</script>
</head>
<body>
<div class="header" style="background:#131824;">
	<div class="container" >
	
		<div class="logo" style="margin-top:0px">
			<a href="/"><img src="{% static "img/FooterLogo.png" %}" alt=""></a>
		</div>
		<span class="menu" ></span>
		
		<div class="navigation" >
			<ul class="navig cl-effect-3 pull-right" id="nav" >
				<li ><a href="/" class="mainlevel">首页</a></li>

				<li class="mainlevel"><a href="/About/">关于我们</a>
        <ul class="sub_nav_01">
          <li><a href="#">公司简介</a></li>
          <li><a href="#">企业目标</a></li>
          <li><a href="#">企业文化</a></li>
          <li><a href="#">团队介绍</a></li>
        </ul>
        </li>
        
				<li class="mainlevel"><a href="/News/">九越咨询</a>
        <ul class="sub_nav_01">
          <li><a href="#">公司咨询</a></li>
          <li><a href="#">业务咨询</a></li>
        </ul>
        </li>
				<li class="mainlevel"><a href="/games">游戏中心</a>
        <ul class="sub_nav_01">
          <li><a href="#">手游运营</a></li>
          <li><a href="#">手游开发</a></li>
        </ul>
        </li>

				<li><a href="#" class="mainlevel">论坛</a></li>
			</ul>
			<div class="clearfix"></div>
			<script>
				$( "span.menu" ).click(function() {
				  $( ".navigation" ).slideToggle( "slow", function() {
				    // Animation complete.
				  });
				});
			</script>
		</div>

		<div class="clearfix"></div>
	</div>
</div>
<div > <img class="col-md-12 col-xs-12 col-lg-12" style="padding-left:0px;padding-right:0px" src="{% static "img/bar.jpg" %}"></div>
<div class="clearfix"></div>
<script type="text/javascript">
	
</script>

{% block content %}

{% endblock %}
<!--<footer class="footer " style="background:#131824">
      <div class="container">
        <div class="row footer-top">
          <div class="col-sm-6 col-lg-6">
            <h4>
              <img src="{% static "img/logoFront.jpg" %}">
            </h4>
            <p>Powered By Arnold & John</p>
          </div>
          <div class="col-sm-6  col-lg-5 col-lg-offset-1">
            <div class="row about">
            <h4>
            成都九越互动科技有限公司
            </h4>
              <div class="col-xs-3">
                <h4>关于九越互动</h4>
                <ul class="list-unstyled">
                  <li><a href="/about/">关于我们</a></li>
                  <li><a href="/ad/">广告合作</a></li>
                  <li><a href="/links/">友情链接</a></li>
                  <li><a href="/hr/">招聘</a></li>
                </ul>
              </div>
              <div class="col-xs-3">
                <h4>加入九越互动</h4>
                <ul class="list-unstyled">
                  <li><a target="_blank" href="http://weibo.com/">新浪微博</a></li>
                  <li><a href="mailto:admin@bootcss.com">电子邮件</a></li>
                </ul>
              </div>
              <div class="col-xs-3">
                <h4>九越用户中心</h4>
                <ul class="list-unstyled">
                  <li><a target="_blank" href="http://www.golaravel.com/">Laravel中文网</a></li>
                  <li><a target="_blank" href="http://www.ghostchina.com/">Ghost中国</a></li>
                </ul>
              </div>
              <div class="col-xs-3">
                <h4>赞助商</h4>
                <ul class="list-unstyled">
                  <li><a target="_blank" href="http://www.ucloud.cn/">UCloud</a></li>
                  <li><a target="_blank" href="https://www.upyun.com">又拍云</a></li>
                </ul>
              </div>
            </div>
    
          </div>
        </div>
        <hr>
        <div class="row footer-bottom">
          <ul class="list-inline text-center">
            <li><a target="_blank" href="http://www.miibeian.gov.cn/">京ICP备11008151号</a></li><li>京公网安备11010802014853</li>
          </ul>
        </div>
      </div>
    </footer>-->
    <footer class="footer" style="background:#131824;padding-bottom:10px;padding-top:5px;font-family:Microsoft YaHei;bottom:0px;">
    	<div class="container">
    		<div class="col-lg-12" >
    			<div class="col-lg-2">&nbsp;</div>
    			<div class="col-lg-4"> 
    				<img src="{% static "img/FooterLogo.png" %}">
    				<p><i>Powered By Arnold</i> & <i>John</i></p>
    			</div>
    			<div class="col-lg-5" >
    				<br/>
    				<p style="color:snow;">成都九越互动科技有限公司</p>
    				<p>
    					<a href="/About/" style="color:snow;">关于九越互动 </a><label style="margin-left:3px;margin-right:3px;">|</label>
    					<a href="/jobs/" style="color:snow;">加入九越互动 </a><label style="margin-left:3px;margin-right:3px;">|</label>
    					<a href="/404/" style="color:snow;">九越用户中心 </a><label style="margin-left:3px;margin-right:3px;">|</label>
    					<a href="/contact/" style="color:snow;">联系我们  </a>
    				</p>
    				<p>
    					<a target="_blank" href="http://www.miibeian.gov.cn/" style="color:snow;">京ICP备11008151号</a>
    				</p>
    				<p>Copyright © 1998 - 2015 GAME13. All Rights Reserved</p>
    			</div>
    			<div class="col-lg-1"></div>
    		</div>
   		</div>
    </footer>
</body>
</html>