<!DOCTYPE html>
<html lang="en">

<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    {% block head %} {% endblock%}
    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "css/site.css" %}" />
    <script type="text/javascript" src="{% static "js/jquery-1.11.1.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/bootstrap.js" %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="{% static "js/jquery.mixitup.min.js" %}"></script>
    <style type="text/css">
    #nav .mainlevel ul {
        position: absolute;
        display: none;
        *width: 2000px;
    }
    
    #nav .mainlevel li a {
        padding: 0 0px;
        line-height: 15px;
        height: 24px;
        display: block;
        _padding-bottom: 15px;
        /*IE6 only*/
    }
    
    .minHeightContent {
        min-height: 81%;
    }
    </style>
    <script type="text/javascript">
    $(function() {
        $('li.mainlevel').mousemove(function() {
            $(this).find('ul').slideDown("1000"); //you can give it a speed
        });
        $('li.mainlevel').mouseleave(function() {
            $(this).find('ul').slideUp("fast");
        });
    });
    </script>
</head>

<body>
    <div class="header" style="background:#131824;">
        <div class="container">
            <div class="logo" style="margin-top:10px">
                <a href="/"><img src="{% static "img/FooterLogo.png" %}" alt=""></a>
            </div>
            <span class="menu"></span>
            <div class="navigation" style="font-family:Microsoft YaHei;">
                <ul class="navig cl-effect-3 pull-right" id="nav">
                    <li><a href="/" class="mainlevel">首页</a></li>
                    <li class="mainlevel"><a href="/About/">关于我们</a>
                        <ul>
                            <li><a href="/About/?action=profile"><small>公司简介</small></a></li>
                            <li><a href="/About/?action=target"><small>企业目标</small></a></li>
                            <li><a href="/About/?action=culture"><small>企业文化</small></a></li>
                            <li><a href="/About/?action=teamintro"><small>团队介绍</small></a></li>
                        </ul>
                    </li>
                    <li class="mainlevel"><a href="/News/">九越资讯</a>
                        <ul>
                            <li><a href="/News"><small>公司资讯</small></a></li>
                            <li><a href="/News"><small>业务资讯</small></a></li>
                        </ul>
                    </li>
                    <li class="mainlevel"><a href="/games">游戏中心</a>
                        <ul>
                            <li><a href="/games"><small>手游运营</small></a></li>
                            <li><a href="/gameclass"><small>手游开发</small></a></li>
                        </ul>
                    </li>
                    <li class="mainlevel"><a href="/jobs/" >加入我们</a>
                        <ul>
                            <li><a href="/jobs"><small>招聘信息</small></a></li>
                            <li><a href="/contact"><small>联系我们</small></a></li>
                        </ul>
                    </li>
                </ul>
                <div class="clearfix"></div>
                <script>
                $("span.menu").click(function() {
                    $(".navigation").slideToggle("slow", function() {
                        // Animation complete.
                    });
                });
                </script>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div> <img class="col-md-12 col-xs-12 col-lg-12" style="padding-left:0px;padding-right:0px" src="{% static "img/bar.jpg" %}"></div>
    <div class="clearfix"></div>
    <div class="minHeightContent">
        {% block content %} {% endblock %}
    </div>
    <footer class="footer" style="background:#131824;padding-bottom:10px;padding-top:5px;font-family:Microsoft YaHei;bottom:0px;">
        <div class="container">
            <div class="col-lg-12">
                <div class="col-lg-2">&nbsp;</div>
                <div class="col-lg-4">
                    <img src="{% static "img/FooterLogo.png" %}">
                    <p><i>Powered By Arnold</i> & <i>John</i></p>
                </div>
                <div class="col-lg-5">
                    <br/>
                    <p style="color:snow;">成都九越互动科技有限公司</p>
                    <p>
                        <a href="/About/" style="color:snow;">关于九越互动 </a>
                        <label style="margin-left:3px;margin-right:3px;">|</label>
                        <a href="/jobs/" style="color:snow;">加入九越互动 </a>
                        <label style="margin-left:3px;margin-right:3px;">|</label>
                        <a href="/404/" style="color:snow;">九越用户中心 </a>
                        <label style="margin-left:3px;margin-right:3px;">|</label>
                        <a href="/contact/" style="color:snow;">联系我们  </a>
                    </p>
                    <p>
                        <a target="_blank" href="http://www.miibeian.gov.cn/" style="color:snow;">京ICP备11008151号</a>
                    </p>
                    <p>Copyright © 1998 - 2015 Nine More. All Rights Reserved</p>
                </div>
                <div class="col-lg-1"></div>
            </div>
        </div>
    </footer>
</body>

</html>
