{% extends "sample.html" %} {% block title %}游戏详情-九越互动{% endblock%} {% block head %} 

<style type="text/css">
    #gameD img{
    max-width:100%;


    }
</style>{% endblock%} {% load staticfiles %} {% block content %}
<div class="row">
    
    <div class="container">
        
            <div class="row" style="margin-top:15px">
                <blockquote style=" border-left:5px solid #b73053" class="col-xs-11">
                    <p style="font-size:20px;color:#ff8700">游戏详情</p>
                </blockquote>
            </div>
            <div class="row">
                <div class="container">
                    <div class="col-xs-6">
                        <div class="col-xs-11">

                            <img class="pull-left" src="{% static game.imgUrl %}" style="width:120px;height:120px;margin-right:20px;" />
                            <h4><strong>《{{ game.name }}》</strong></h4>
                            <p style="font-size:small">
                                {{ game.gameType.name }}
                                <br/>
                                <span>
                    <small>
                    版本：{{ game.version }}<br/>
                    时间：{{ game.dimDate }}<br/>
                    大小：{{ game.gamesize }}<br/>
                    </small>
                        </span>
                            </p>
                        </div>
                        <div class="col-xs-1">

                        </div>
                    </div>
                    <div class="col-xs-6 ">
                        
                        <img class="pull-right"   src="{% static game.QRimg %}" style="width:120px;height:120px;margin-left:20px;" />
                        <div class="pull-right">
                        <a href="/static/{{ game.Url }}" ><img class="pull-right"  src="{% static "img/btnDOWN.jpg" %}" style="width:160px;height:50px;margin-left:20px;" /></a><br/>
                        
                        <a  href="{{ game.forumLink }}" ><img class="pull-right"  src="{% static "img/btnBBS.jpg" %}" style="width:160px;height:50px;margin-left:20px;margin-top:20px;" /></a></div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="row" style="margin-top:50px">
            <div class="container">
            <h4><strong>游戏截图</strong></h4>
            <br/>
            <div class="row">
            
             <div class="col-xs-12 col-xs-12">
             <img  src="{% static game.imgContent1 %}" style="width:296px;height:524px;margin-left:10px;" />
            <img  src="{% static game.imgContent2 %}" style="width:296px;height:524px;margin-left:25px;" />
            <img  src="{% static game.imgContent3 %}" style="width:296px;height:524px;margin-left:25px;" />
</div>
            
            </div>   
            </div>
            </div>
            <div class="row" style="margin-top:15px">
                <blockquote style=" border-left:5px solid #b73053" class="col-xs-11">
                    <p style="font-size:20px;color:#ff8700">游戏简介</p>
                </blockquote>
            </div>
            <div id="gameD" class="row" style="margin-top:5px;margin-bottom:100px;">
            
                {{ game.content |safe }}
                
            </div>
        
    </div>
    
</div>
{% endblock %}
