{% extends "sample.html" %} {% block title %}游戏详情-九越互动{% endblock%} {% block head %} 

<style type="text/css">
    #gameD img{
    max-width:100%;


    }
</style>{% endblock%} {% load staticfiles %} {% block content %}
<div class="row">
    
    <div class="container">
        
            <div class="row" style="margin-top:15px">
                <blockquote style=" border-left:5px solid #b73053" class="col-md-11">
                    <p style="font-size:20px;color:#ff8700">游戏详情</p>
                </blockquote>
            </div>
            <div class="row">
                <div class="container">
                    <div class="col-md-6">
                        <div class="col-md-6">
                            <img class="pull-left" src="/media/{{ game.imgUrl }}" style="width:100px;height:100px" />
                            <p><strong>《{{ game.name }}》</strong></p>
                            <p style="font-size:small">
                                {{ game.gameType.name }}
                                <br/>
                                <span>
                    <small>
                    版本：{{ game.version }}<br/>
                    时间：{{ game.dimDate }}<br/>
                    大小：{{ game.gamesize }}<br/>
                    </small>
                        </span>
                            </p>
                        </div>
                        <div class="col-md-6">

                        </div>
                    </div>
                    <div class="col-md-6 ">
                        
                        <img class="pull-right"  src="/media/{{ game.QRimg }}" style="width:100px;height:100px;margin-left:20px;" />
                        <div class="pull-right">
                        <a href="/static/{{ game.Url }}" class=" btn btn-info btn-large">下载游戏</a><br/>
                        <hr/>
                        <a  href="{{ game.forumLink }}" class=" btn btn-info btn-large">查看论坛</a></div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="row" style="margin-top:50px">
            <div class="container">
            <h4><strong>游戏截图</strong></h4>
            <br/>
            <div class="row">
            
            <div class="col-md-1 col-xs-1"></div> <div class="col-md-10 col-xs-10"><img  src="/media/{{ game.imgContent1 }}" style="width:296px;height:524px;" />
            <img  src="/media/{{ game.imgContent2 }}" style="width:296px;height:524px;" />
            <img  src="/media/{{ game.imgContent3 }}" style="width:296px;height:524px;" />
</div>
            <div class="col-md-1 col-xs-1"></div>
            </div>   
            </div>
            </div>
            <div class="row" style="margin-top:15px">
                <blockquote style=" border-left:5px solid #b73053" class="col-md-11">
                    <p style="font-size:20px;color:#ff8700">游戏简介</p>
                </blockquote>
            </div>
            <div id="gameD" class="row" style="margin-top:5px;margin-bottom:100px;">
            
                {{ game.content |safe }}
                
            </div>
        
    </div>
    
</div>
{% endblock %}
