{% extends "sample.html" %} {% block title %}游戏详情-九越互动{% endblock%} {% block head %}

 {% endblock%} {% load staticfiles %} {% block content %}

    
<div class="row" >
    <div class="container">
        <div class="row" style="margin-top:5px">
            <blockquote style=" border-left:5px solid #b73053" class="col-md-11">
                <p style="font-size:20px;color:#ff8700">游戏简介</p>
            </blockquote>
           
        </div>
        <div class="row">
        <div class="container">
        </div>
        </div>
    </div>
</div>


{% endblock %}

