{% extends "sample.html" %}
{% load staticfiles %} 
{% block title %}
关于我们-九越互动
{% endblock %}
{% block head %}
<style type="text/css">
	.style {
		padding-left: 20px;
		color: black;
	}
	

</style>
{% endblock %}
{% block content %}
	<div class="container" >
		<img class="col-md-12" src="{% static "img/summary.jpg" %}" alt="About Us" >
		<div class="col-md-12" style="margin-top:40px;"></div>
		<div class="col-md-2" >
		&nbsp;	
		</div>
		<div class="col-md-2">
		&nbsp;
		</div>
		<div class="col-md-6">
			<a href="#" class="style">公司简介</a>
			<a href="#" class="style">企业目标</a>
			<a href="#" class="style">企业文化</a>
			<a href="#" class="style">团队介绍</a>
		</div>
		<div class="col-md-2">
			&nbsp;
		</div>
		<div class="col-md-2">
			&nbsp;
		</div>
		<div class="col-md-8">
			<hr style=" margin-top:1px;height:1px;border:none;border-bottom:2px solid #B7AC30;" />
		</div>
		<div class="col-md-2">
			&nbsp;	
		</div>
		<div class="col-md-2">
			&nbsp;
		</div>
		<div class="col-md-2">

		</div>
		<div class="col-md-6">

		</div>
		<div class="col-md-2">
			&nbsp;
		</div>
	</div>


{% endblock %}
{% block footer %}
{% endblock %}