{% extends "sample.html" %}
{% load staticfiles %} 
{% block title %}
关于我们-九越互动
{% endblock %}
{% block head %}
<style type="text/css">
	body a
	{
		outline:none;blr:expression(this.onFocus=this.blur());
	}
	.style {
		padding-left: 20px;
	}
	.TriOrigin{
		display: none;

	}
	.TriClick{
		display:block;
	}
	.imgOrigin{
		width:100%;
		display: none;
	}
	.imgClick{
		width:100%;
		display:block;
	}
	.textOrigin{
		display:none;
		text-indent:2em
	}
	.textClick{
		display:block;
		text-indent:2em
	}
	a:link {
		color:#B7AC30;
		text-decoration: none;
	}
	a:visited{
		color:#B7AC30;
		text-decoration: none;
		border:none;
	}
	a:hover{
		color:#B7AC30;
		text-decoration: none;
	}
	.Astyle{
		color:#B7AC30;
		text-decoration: none;
		border:none;
	}
	.AOrigin{
		color:#fff;
		text-decoration: none;
		border:none;
	}
</style>
{% endblock %}
{% block content %}
<script type="text/javascript">
	$(document).ready(function() {
        (function ($) {
            $.getUrlParam = function (name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
            var r = window.location.search.substr(1).match(reg);
            if (r != null) return unescape(r[2]); return null;
             }
        })(jQuery);

		$('#profile').click(function(){
			$("#imgSummary").parent().children().removeClass('imgClick').addClass('imgOrigin');
			$("#imgSummary").removeClass('imgOrigin').addClass('imgClick');
			$("#TextSummary").parent().children().removeClass('textClick').addClass('textOrigin');
			$("#TextSummary").removeClass('textOrigin').addClass('textClick');
			$("#TriSumary").parent().children().removeClass('TriClick').addClass('TriOrigin');
			$("#TriSumary").removeClass('TriOrigin').addClass('TriClick');						
		});
		$("#target").click(function(){
			
			$("#imgTarget").parent().children().removeClass('imgClick').addClass('imgOrigin');
			$("#imgTarget").removeClass('imgOrigin').addClass('imgClick');
			$("#TextTarget").parent().children().removeClass('textClick').addClass('textOrigin');
			$("#TextTarget").removeClass('textOrigin').addClass('textClick');
			$("#TriTarget").parent().children().removeClass('TriClick').addClass('TriOrigin');
			$("#TriTarget").removeClass('TriOrigin').addClass('TriClick');	
		});
		$("#culture").click(function(){
			$("#imgCulture").parent().children().removeClass('imgClick').addClass('imgOrigin');
			$("#imgCulture").removeClass('imgOrigin').addClass('imgClick');
			$("#TextCulture").parent().children().removeClass('textClick').addClass('textOrigin');
			$("#TextCulture").removeClass('textOrigin').addClass('textClick');
			$("#TriCulture").parent().children().removeClass('TriClick').addClass('TriOrigin');
			$("#TriCulture").removeClass('TriOrigin').addClass('TriClick');				
		});
		$("#Team").click(function(){
			$("#imgTeam").parent().children().removeClass('imgClick').addClass('imgOrigin');
			$("#imgTeam").removeClass('imgOrigin').addClass('imgClick');
			$("#TextTeam").parent().children().removeClass('textClick').addClass('textOrigin');
			$("#TextTeam").removeClass('textOrigin').addClass('textClick');
			$("#TriTeam").parent().children().removeClass('TriClick').addClass('TriOrigin');
			$("#TriTeam").removeClass('TriOrigin').addClass('TriClick');				
		});
		 switch($.getUrlParam('action')){
        	case 'profile':
        		$("#profile").trigger("click");
        		break;
        	case 'target':
        		$("#target").trigger("click");
        		break;
        	case 'culture':
        		$("#culture").trigger("click");
        		break;
        	case 'teamintro':
        		$("#Team").trigger("click");
        		break;  
        }
	});
</script>
	<div class="container" >
		<img width="100%" src="{% static "img/summary.jpg" %}" alt="About Us" >
		<div class="col-xs-12" style="margin-top:40px;"></div>
		<div class="col-xs-12">
			<div class="col-xs-2" >
			&nbsp;<a id="top"></a>
			</div>
			<div class="col-xs-2">
			&nbsp;
			</div>
			<div class="col-xs-6">
				<a href="javascript:void(0);" class="style" style="padding-left:30px;text-decoration:none;border:none;" id="profile" >公司简介</a>
				<a href="javascript:void(0);" class="style"  id="target" style="text-decoration:none;border:none;">企业目标</a>
				<a href="javascript:void(0);" class="style"  id="culture" style="text-decoration:none;border:none;">企业文化</a>
				<a href="javascript:void(0);" class="style"  id="Team" style="text-decoration:none;border:none;">团队介绍</a>
			</div>
			<div class="col-xs-2">
			&nbsp;
			</div>
		</div>
		<div class="col-xs-12">
			<div class="col-xs-2">
				&nbsp;
			</div>
			<div class="col-xs-8">
				<hr style=" margin-top:0px;height:1px;border:none;border-bottom:2px solid #B7AC30;" />
			</div>
			<div class="col-xs-2">
				&nbsp;	
			</div>
		</div>
		<div class="col-xs-12" style="margin-top:-20px;">
			<div class="col-xs-2">
				&nbsp;			
			</div>
			<div class="col-xs-2">
				&nbsp;
			</div>
			<div class="col-xs-6">
				<img  id="TriSumary" src="{% static "img/yellowTri.jpg" %}" style="padding-left:55px;" class="TriClick">
				<img id="TriTarget" src="{% static "img/yellowTri.jpg" %}" style="padding-left:140px;" class="TriOrigin">
				<img id="TriCulture" src="{% static "img/yellowTri.jpg" %}" style="padding-left:235px;" class="TriOrigin">
				<img id="TriTeam" src="{% static "img/yellowTri.jpg" %}" style="padding-left:320px;" class="TriOrigin">
			</div>
			<div class="col-xs-2">
				&nbsp;
			</div>
		</div>
		<div class="col-xs-12">
			<div class="col-xs-2">
				&nbsp;	
			</div>
			<div class="col-xs-2">
				<img id="imgSummary" src="{% static "img/profile.jpg" %}" class="imgClick">
				<img id="imgTarget" src="{% static "img/objective.jpg" %}" class="imgOrigin">
				<img id="imgCulture" src="{% static "img/culture.jpg" %}" class="imgOrigin">
				<img id="imgTeam" src="{% static "img/teamintro.jpg" %}" class="imgOrigin">
			</div>
			<div class="col-xs-6">
				<div id="TextSummary" class="textClicks" style="text-indent:2em">
					成都九越网络科技有限公司，简称九越互动，扎根天府软件园，是一家集手机游戏研发与发行于一体的互联网公司。公司成立于2013年8月，确立了研发、发行、投资三位一体的发展战略，公司主要由研发部、发行运营部、商务投资部、媒介平台部、人事行政部五个部门构成。秉承专业、专心、诚心的原则，打造属于我们九越人自己的游戏品牌！
				</div>
				<div id="TextTarget" class="textOrigin">
					成为业内顶尖的游戏研发、发行、运营团队，打造精品，创造快乐，实现价值！
				</div>
				<div id="TextCulture" class="textOrigin">
					核心理念：勤奋高效，务实创新，人才为本，用户至上<br>
					人才培养：培养员工的五大意识——团队意识、竞争意识、成长意识、服务意识和创新意识

				</div>
				<div id="TextTeam" class="textOrigin">
					成都九越网络科技有限公司拥有一支年轻有朝气的团队，在各个岗位上都有来自行业内的资深成员把控，业务实力雄厚。本着精品战略、产品为王的发行思路，各部门精诚配合努力做好每一款产品，稳扎稳打，磨练出了一支可以打硬仗，扛得住压力的团队。
				</div>
			</div>
			<div class="col-xs-2">
				&nbsp;
			</div>
		</div>
	</div>


{% endblock %}
{% block footer %}
{% endblock %}