{% extends "sample.html" %}
{% load staticfiles %} 
{% block title %}
关于我们-九越互动
{% endblock %}
{% block head %}
<style type="text/css">
	.style {
		padding-left: 20px;
	}
	.TriOrigin{
		display: none;
	}
	.TriClick{
		display:block;
	}
	.imgOrigin{
		width:100%;
		display: none;
	}
	.imgClick{
		width:100%;
		display:block;
	}
	.textOrigin{
		display:none;
	}
	.textClick{
		display:block;
	}
	a:link {
		color:#B7AC30;
		text-decoration: none;
	}
	a:visited{
		color:#B7AC30;
		text-decoration: none;
	}
	a:hover{
		color:#B7AC30;
		text-decoration: none;
	}

	Astyle{
		color:#B7AC30;
	}
	AOrigin{
		color:#fff;
	}
</style>
{% endblock %}
{% block content %}
<script type="text/javascript">
	$(document).ready(function() {
        (function ($) {
            $.getUrlParam = function (name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
            var r = window.location.search.substr(1).match(reg);
            if (r != null) return unescape(r[2]); return null;
             }
        })(jQuery);

		$('#profile').click(function(){
			$("profile").removeClass('AOrigin').addClass('Astyle');
			$("#imgSummary").parent().children().removeClass('imgClick').addClass('imgOrigin');
			$("#imgSummary").removeClass('imgOrigin').addClass('imgClick');
			$("#TextSummary").parent().children().removeClass('textClick').addClass('textOrigin');
			$("#TextSummary").removeClass('textOrigin').addClass('textClick');
			$("#TriSumary").parent().children().removeClass('TriClick').addClass('TriOrigin');
			$("#TriSumary").removeClass('TriOrigin').addClass('TriClick');						
		});
		$("#target").click(function(){
			
			$("#imgTarget").parent().children().removeClass('imgClick').addClass('imgOrigin');
			$("#imgTarget").removeClass('imgOrigin').addClass('imgClick');
			$("#TextTarget").parent().children().removeClass('textClick').addClass('textOrigin');
			$("#TextTarget").removeClass('textOrigin').addClass('textClick');
			$("#TriTarget").parent().children().removeClass('TriClick').addClass('TriOrigin');
			$("#TriTarget").removeClass('TriOrigin').addClass('TriClick');	
		});
		$("#culture").click(function(){
			$("#imgCulture").parent().children().removeClass('imgClick').addClass('imgOrigin');
			$("#imgCulture").removeClass('imgOrigin').addClass('imgClick');
			$("#TextCulture").parent().children().removeClass('textClick').addClass('textOrigin');
			$("#TextCulture").removeClass('textOrigin').addClass('textClick');
			$("#TriCulture").parent().children().removeClass('TriClick').addClass('TriOrigin');
			$("#TriCulture").removeClass('TriOrigin').addClass('TriClick');				
		});
		$("#Team").click(function(){
			$("#imgTeam").parent().children().removeClass('imgClick').addClass('imgOrigin');
			$("#imgTeam").removeClass('imgOrigin').addClass('imgClick');
			$("#TextTeam").parent().children().removeClass('textClick').addClass('textOrigin');
			$("#TextTeam").removeClass('textOrigin').addClass('textClick');
			$("#TriTeam").parent().children().removeClass('TriClick').addClass('TriOrigin');
			$("#TriTeam").removeClass('TriOrigin').addClass('TriClick');				
		});
		 switch($.getUrlParam('action')){
        	case 'profile':
        		$("#profile").trigger("click");
        		break;
        	case 'target':
        		$("#target").trigger("click");
        		break;
        	case 'culture':
        		$("#culture").trigger("click");
        		break;
        	case 'teamintro':
        		$("#Team").trigger("click");
        		break;  
        }
	});
</script>
	<div class="container" >
		<img class="col-md-12" src="{% static "img/summary.jpg" %}" alt="About Us" >
		<div class="col-md-12" style="margin-top:40px;"></div>
		<div class="col-md-12">
			<div class="col-md-2" >
			&nbsp;<a id="top"></a>
			</div>
			<div class="col-md-2">
			&nbsp;
			</div>
			<div class="col-md-6">
				<a href="javascript:void(0);" class="style" style="padding-left:30px;" id="profile">公司简介</a>
				<a href="javascript:void(0);" class="style"  id="target">企业目标</a>
				<a href="javascript:void(0);" class="style"  id="culture">企业文化</a>
				<a href="javascript:void(0);" class="style"  id="Team">团队介绍</a>
			</div>
			<div class="col-md-2">
			&nbsp;
			</div>
		</div>
		<div class="col-md-12">
			<div class="col-md-2">
				&nbsp;
			</div>
			<div class="col-md-8">
				<hr style=" margin-top:0px;height:1px;border:none;border-bottom:2px solid #B7AC30;" />
			</div>
			<div class="col-md-2">
				&nbsp;	
			</div>
		</div>
		<div class="col-md-12" style="margin-top:-20px;">
			<div class="col-md-2">
				&nbsp;			
			</div>
			<div class="col-md-2">
				&nbsp;
			</div>
			<div class="col-md-6">
				<img id="TriSumary" src="{% static "img/yellowTri.jpg" %}" style="padding-left:55px;" class="TriClick">
				<img id="TriTarget" src="{% static "img/yellowTri.jpg" %}" style="padding-left:140px;" class="TriOrigin">
				<img id="TriCulture" src="{% static "img/yellowTri.jpg" %}" style="padding-left:235px;" class="TriOrigin">
				<img id="TriTeam" src="{% static "img/yellowTri.jpg" %}" style="padding-left:320px;" class="TriOrigin">
			</div>
			<div class="col-md-2">
				&nbsp;
			</div>
		</div>
		<div class="col-md-12">
			<div class="col-md-2">
				&nbsp;	
			</div>
			<div class="col-md-2">
				<img id="imgSummary" src="{% static "img/profile.jpg" %}" class="imgClick">
				<img id="imgTarget" src="{% static "img/objective.jpg" %}" class="imgOrigin">
				<img id="imgCulture" src="{% static "img/culture.jpg" %}" class="imgOrigin">
				<img id="imgTeam" src="{% static "img/teamintro.jpg" %}" class="imgOrigin">
			</div>
			<div class="col-md-6">
				<div id="TextSummary" class="textClicks">
					&nbsp;&nbsp;&nbsp;&nbsp;成都九越网络科技有限公司，后更名为九越互动游戏，扎根天府软件园，是一家集手机游戏研发与发行于一体的互联网公司。
				</div>
				<div id="TextTarget" class="textOrigin">
					&nbsp;&nbsp;&nbsp;&nbsp;成都九越网络科技有限公司，后更名为九越互动游戏，扎根天府软件园，是一家集手机游戏研发与发行于一体的互联网公司。<strong>这是企业目标</strong>
				</div>
				<div id="TextCulture" class="textOrigin">
					&nbsp;&nbsp;&nbsp;&nbsp;成都九越网络科技有限公司，后更名为九越互动游戏，扎根天府软件园，是一家集手机游戏研发与发行于一体的互联网公司。<strong>这是企业文化</strong>
				</div>
				<div id="TextTeam" class="textOrigin">
					&nbsp;&nbsp;&nbsp;&nbsp;成都九越网络科技有限公司，后更名为九越互动游戏，扎根天府软件园，是一家集手机游戏研发与发行于一体的互联网公司。<strong>这是团队介绍</strong>
				</div>
			</div>
			<div class="col-md-2">
				&nbsp;
			</div>
		</div>
	</div>


{% endblock %}
{% block footer %}
{% endblock %}